.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 16px;
    position: relative;
    width: 360px;
  }
  
  .header .help-join {
    height: 20px;
    position: relative;
    width: 60px;
  }
  
  .header .line-rounded-info {
    height: 20px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 20px !important;
  }
  
  .header .line-rounded-user {
    height: 20px !important;
    left: 40px !important;
    position: absolute !important;
    top: 0 !important;
    width: 20px !important;
  }